https://drone.iteam.life {
  tls info@iteam.se
  proxy / drone-server:8000 {
    transparent
    header_upstream Connection {>Connection}
    header_upstream Upgrade {>Upgrade}
  }
  log stdout
}

https://izone.iteam.life {
  tls info@iteam.se
  proxy / izone-rest:3000 {
    transparent
  }
  log stdout
}

https://rancher.iteam.life {
  tls info@iteam.se
  proxy / 172.17.0.1:8080 {
    transparent
    header_upstream Connection {>Connection}
    header_upstream Upgrade {>Upgrade}
  }
  log stdout
}

https://registry.iteam.life {
  tls info@iteam.se
  proxy / registry:5000 {
    transparent
  }
  log stdout
}
